header {
    background: !important;
    border-top: 0px solid !important;
}

.post-head .external-sign-in .Facebook {
	width: 50%!important;
	text-align: center;
	padding: 15px!important;
	box-sizing:border-box;
	height: 65px!important;
}

.post .external-sign-in .Facebook {
	width: 50%!important;
	text-align: center;
	padding: 15px!important;
	box-sizing:border-box;
	height: 65px!important;
}


.post .external-sign-in .Twitter {
	width: 50%!important;
	text-align: center;
	padding: 15px!important;
	box-sizing:border-box;
	height: 65px!important;
}


.external-sign-in .Facebook.mini {
	float: left!important;
    width: 50px!important;
    height: 60px!important;
    padding: 0!important;
    margin-right: 10px;
    margin-bottom: 10px;
}


.post-head .external-sign-in .Twitter {
	width: 50%!important;
	text-align: center;
	padding: 15px!important;
	box-sizing:border-box;
	height: 65px!important;
}

.external-sign-in .Twitter.mini {
	float: left!important;
    width: 50px!important;
    height: 60px!important;
    padding: 0!important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.external-sign-in .Google {
	display: none!important;
}

.external-sign-in .Reddit {
	display: none!important;
}

.external-sign-in .Pinterest {
	display: none!important;
}

.external-sign-in .Facebook:after {
    top: 15px!important;
    left: 20%!important;
}


.external-sign-in .Twitter:after {
    top: 15px!important;
    left: 20%!important;
}

.header {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 2px 2.5px rgba(0,0,0,0.05);
    position: fixed;
    top: 0px;
    z-index: 20;
    border: none;
    transition: height 400ms, background 400ms;
}

.header .header__logo {
    float: left;
    position: relative;
    z-index: 1;
    margin-right: 25px;
    margin-top: 3px;
}


.header .navmenu {
    float: left;
    margin: 0 0px 0 0;
    padding: 0;
    z-index: 150;
}

.header .navmenu>li>a {
    font-family: inherit;
    font-size: 13px;
    line-height: 40px;
    color: #222;
    font-weight: normal;
    display: block;
    padding: 0 12px;
    max-height: 40px;
    height: 40px;
}

.mainside {
    display: block;
    float: left;
    width: 640px;
    padding: 10px;

    background: #fff;
    box-sizing: border-box;
        box-shadow: 0px 0px 2px 2.5px rgba(0,0,0,0.05);

}

.content .container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 29px;
}


.sidebar {
    box-sizing: border-box;
    display: block;
    float: right;
        background: #fff;
    width: 300px;
        box-shadow: 0px 0px 2px 2.5px rgba(0,0,0,0.05);
padding: 10px;
}


.post-content .post .external-sign-in .Facebook, .post-content .post .external-sign-in .Google, .post-content .post .external-sign-in .Pinterest, .post-content .post .external-sign-in .Reddit, .post-content .post .external-sign-in .Twitter, .post-content .post .external-sign-in .Weburl {
    float: left;
    display: inline-block;
    line-height: 35px;
    width: 80px;
    font-size: 14px;
    height: 36px;
    min-height: 35px;
    padding: 0 0 0 42px;
    margin-left: 0px;
}